body{
    background: #050214;
    font-family: Poppins, Verdana;
}

.container{
    display: flex;
    background:rgba(2, 9, 20, 0.54);
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.left-side {
    border-radius: 0px 40px 40px 0px;
    opacity: 0.6;
    width: 50%;
    height: 100%;
    background-image: url('/registration/autorization/images/plane.jpg');
    background-size: cover;    
}

.text-overlay{
    position: absolute;
    top: 30px;
    left: 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}


.right-side {
    font-size: 16px;
    font-weight: 100;
    width: 50%;
    background-color: #050214;
    padding: 70px 40px 250px 40px;
    color: white;
}

.right-side h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: -15px;
}

.right-side h4 {
    font-weight: 400;
}

.email-input {
    position: relative;
}

.email-icon {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);

}

.password-input {
    position: relative;
}

.password-icon {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
}

.blind-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    right: 10px;
}

input[type="email"], input[type="password"] {
    background-color: transparent;
    width: 100%;
    padding: 12px 20px;
    margin: 50px 0;
    display: inline-block;
    border:none;
    border-bottom: 2px solid white;
    color: white;
    box-sizing: border-box;
}

input[type="email"], input[type="password"]:focus{
    outline: none;
}

button {
    background-color: #C10C99;
    font-size: 17px;
    font-weight: 500;
    color: white;
    padding: 15px 190px;
    margin: 50px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 40px;
}

button:hover{
    opacity: 0.8;
}
